# Core dependencies
langchain==0.3.15
#langchain-core==0.3.28
langchain-openai==0.2.14
langgraph==0.2.60
pydantic==2.10.5
pydantic-settings==2.7.0

# UI
streamlit==1.41.1

# HTTP clients
httpx==0.28.1
requests==2.32.3

# Environment management
python-dotenv==1.0.1

# JIRA API
jira==3.8.0

# JSON handling
orjson==3.10.12
